    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About The Boutique Wine Lady</h2>
                <p>
                    Founded in 2014 with offices in Chicago, Fort Lauderdale and Seattle, Direct Cellars began as a small internet wine club. Due to our unique marketing concept, we found that we were growing very rapidly! We didn't choose the traditional advertising route such as, Radio, TV, Internet Marketing etc., we used the "word of mouth" avenue - marketing to our friends and family. Bottom line, Direct Cellars was founded and built by friends and family!​
                </p>
                <p>Since our inception, Direct Cellars has become one of the premier wine clubs in the country. Over the last few years we have continued to create and maintain relationships that consist of the best expertise with wine lovers a-like. Our in-house team of wine tasters have been tasting and selecting wines from all over the world for the last 15 years. We only select wines from world class wine producers which are then shipped right to your door! </p>
              <p>As we continue to further our success and look to our long-term growth, Direct Cellars has now evolved into a full-blown network marketing company. Now you can earn a residual income while sharing and enjoying our wines from around the globe! If you are looking to make some extra part-time money, pay off some debts or make a full-time income, Direct Cellars is for you! You don't need to be a wine aficionado to earn with Direct Cellars! Simply share your passion of wines with others and watch what happens!</p>

​               <h3>Join Now and let the party begin!</h3>
            </div>
        </div>
    </section>
