    <!-- Customers Section -->
    <section id="customers" class="content-section text-center">
        <div class="customers-section basic-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Customers</h2>

                      <iframe src="https://player.vimeo.com/video/197527912" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      <p><a href="https://vimeo.com/197527912">Direct Cellars Wine Club Overview</a> from <a href="https://vimeo.com/directcellar">Direct Cellars</a> on <a href="https://vimeo.com">Vimeo</a>

                    <h2>Free Wine!</h2>
                  <p>Direct Cellars supports 2,000 boutique vineyards around the globe producing artisan wines that can't be found in stores. </p>

                   <p>As a customer you can join the wine club for $49 (2 - bottles) or $79 (4 -bottles) a month. You can choose white, red or both. The wines are hand selected for you by our wine experts and shipped to your doorstep.

                  <p>Do you have 3 friends who would love to get premium WINE for FREE? </p>

                  <p>If they sign up though your referral link...YOUR WINE IS FREE the following month!</p>
                    <p> Who doesn't LOVE premium wine for free?! </p>
​

                    <h3> No contracts. Cancel at any time.  </h3>
                    <p><strong>Contact the person who shared this site with you to get you started as a customer! </strong></p>
                </div>
            </div>
        </div>
    </section>
