    <!-- Distributors Section -->
    <section id="distributors" class="content-section text-center">
        <div class="distributors-section basic-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Become a Distributor</h2>

                    <h3 class="text-left">Step 1</h3>
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/uGd3Jsz-3Fk" frameborder="0" allowfullscreen></iframe>
                    <p>
                    Over the years, you’ve probably been shown network marketing in conjunction with skin care, cosmetics,  health, wellness, nutritional,  and weight loss  products – right?

                    The networking industry coupled with “traditional products”  has been really good to many of us, but wouldn’t it be even more fun to work with a product that you didn’t have to explain?  A business model where you didn’t have to ask people to change a habit, or feel deprived?

                    Maybe over the years you’ve even joked about how much fun it would be if there was a network marketing company and the product was wine.    Oh and not just any wine — boutique, artisan wines from all over the world, hand selected and delivered to your doorstep.

                    Are you ready to drink fine wine, share fine wine, earn free wine and get paid on top of all that?  </p>
                    <p>When your product is wine,  no one asks “Does your product work?” </p>

                    <h3 class="text-left">Step 2</h3>

                    <iframe src="https://player.vimeo.com/video/197527912" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <p> Boutique, artisan wines from all over the world, hand selected from over 2,000 wineries, and delivered to your doorstep.</p>

                    <h3 class="text-left">Step 3</h3>

                    <iframe width="100%"  height="400" src="https://www.youtube.com/embed/ulkS1UOGrtM" frameborder="0" allowfullscreen></iframe>

                    <hr/>

                    <p> Break Even Example: Enroll as an affiliate and purchase a $249.95 “Social Package“.  Each time you personally enroll an affiliate who purchases the same package you earn $125. In other words your “break even” is simple, enroll 2 affiliates, who in turn purchase the “Social Package” and you’ll recoup the cost of your “Social Package”.</p>

                    <img src="/img/social-level.png" />

                    <p>You are free to enroll as many as you wish and each time your personally enrolled purchase a $249.95 “Social Package” you’ll earn $125!</p>

                    <hr/>

                    <img src="/img/elite-level.png" />

                    <p>BEST VALUE: Enroll and purchase the $499.95 “Elite Package”. Each time you personally enroll an affiliate who also purchases the Elite Package you earn $250. Enroll 2 others who purchase an “Elite Package” and you’ve recouped the cost of your “Elite Package”.</p>

                    <p> You are free to enroll as many as you wish and each time you have a personally enrolled who purchases an Elite Package you’ll earn $250!</p>
                </div>
            </div>
        </div>
    </section>
