    <!-- Download Section -->
    <section id="distributors" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Become a Distributor</h2>
                    <h3>Step 1</h3> 
                    <a href="#" class="btn btn-default btn-lg">Link sample</a>
                    <h3>Step 2</h3>
                    <a href="#" class="btn btn-default btn-lg">Link sample</a>
                    <h3>Step 3</h3>
                    <a href="#" class="btn btn-default btn-lg">Link sample</a>
                </div>
            </div>
        </div>
    </section>
